<h2 style="text-align: center;">Cat Care</h2>

<div style="padding-left: 30px;">
    Here are the following instructions on how to properly take care of a cat

    <!--Credit:https://icatcare.org/advice/thinking-of-getting-a-cat/-->
    <h3>General Tips</h3>
    <ul class="mylist-style" style="list-style-type: square;">
        <li>Provide it with a stimulating and safe environment</li>
        <li>Grrom it regurlaly especially with daily grooming</li>
        <li>Vaccinate against the major feline diseases regularly</li>
        <li>Provide the cat with outdoor access or be prepared to empty and clean the litter tray daily</li>
        <li>Worm regularly and provide treatment for fleas</li>
    </ul>

    <!--Credit: https://www.aspca.org/pet-care/cat-care/general-cat-care-->
    <h3>Feeding</h3>
    <ul class="mylist-style">
        <li>Make sure to give your cat a balanced meal</li>
        <li>Cats require taurine for their heart and eye health</li>
        <li>Threats should be no more than 5-10% of the diet</li>
        <li>Provide fresh, clean water at all times</li>
        <li>If your cat is refusing food, please check with your vetenerian</li>
    </ul>
    You can see from this 
    <a href="https://www.hillspet.com/cat-care/nutrition-feeding/toxic-foods-for-cats?lightboxfired=true#"
        target = "_blank">site</a>
    <!--Link Credit: Hillspet - https://www.hillspet.com/cat-care/nutrition-feeding/toxic-foods-for-cats?lightboxfired=true#-->
    for the foods that a cat can't eat
    <br>

    <h3>Supply List for Cat</h3>
    <ul class="mylist-style" style="list-style-type: disc;">
        <li>Premium-brand cat food</li>
        <li>Food dish</li>
        <li>Water bowl</li>
        <li>Interactive toys</li>
        <li>Brush/Comb</li>
        <li>Safety cat collar with ID tag</li>
        <li>Litter boc and litter</li>
    </ul>

    <p>For more information click on the following sites or contact your vetenerian <br>
        <a href= "https://www.aspca.org/pet-care/cat-care/general-cat-care"
        target = "_blank">ASPCA</a>
        <!--Link Credit: https://www.aspca.org/pet-care/cat-care/general-cat-care-->
        <br>
        <a href= "https://animalfoundation.com/whats-going-on/blog/basic-necessities-proper-pet-care"
        target = "_blank">Animal Foundation</a>
        <!--Link Credit: https://animalfoundation.com/whats-going-on/blog/basic-necessities-proper-pet-care-->
    </p><br>

    <i>Credits to ASPCA, Hillspet, iCatCare and Animal Foundation</i>
</div>
