<h2 style="text-align: center;">Dog Care</h2>

<div style="padding-left: 30px;">
    Here are the following instructions on how to properly take care of a dog

    <h3>General Tips</h3>
    <ul class="mylist-style" style="list-style-type: square;">
        <li>Regularly groom your dog</li>
        <li>Schedule annual check-ups with your vet</li>
        <li>Maintain proper vaccinations</li>
        <li>Consider spaying or neutering your pet</li>
        <li>Brush your dog's teeth</li>
        <li>Use a leash while in public</li>
    </ul>

    <!--Info Credit: https://www.aspca.org/pet-care/dog-care/general-dog-care-->
    <h3>Feeding</h3>
    <ul class="mylist-style">
        <li>Puppies eight to 12 weeks old need 4 meals per day</li>
        <li>Feed puppies 3 to 6 months old three meals a day</li>
        <li>Feed puppies 6 months to 1 year two meals a day</li>
        <li>After 1 year old, usually have one meal a day</li>
        <li>For larger canines, it is better for some to feed two smaller meals</li>
        <li>Provide sufficient water throughout the day</li>
    </ul>
    You can see from this 
    <a href=" https://www.petsbest.com/blog/20-foods-dogs-shouldnt-eat"
        target = "_blank">site</a>
    <!--Link Credit: Pets Bets - https://www.petsbest.com/blog/20-foods-dogs-shouldnt-eat-->
    for the foods that a dog can't eat
    <br>

    <h3>Exercise</h3>
    <p>
        Dogs need to exercise to stimulate their minds and stay healthy. 
        It also helps to avoid boredum, and overall for the dog to live a happy life. 
        The individual exercises vary on the breed, age and level of health. 
    </p>

    <p>For more information click on the following sites or contact your vetenerian <br>
        <a href= "https://www.forbes.com/advisor/ca/pet-insurance/dog-care-tips/"
        target = "_blank">Forbes Advisor</a>
        <!--Link Credit: https://www.forbes.com/advisor/ca/pet-insurance/dog-care-tips/-->
        <br>
        <a href= "https://animalfoundation.com/whats-going-on/blog/basic-necessities-proper-pet-care"
        target = "_blank">Animal Foundation</a>
        <!--Link Credit: https://animalfoundation.com/whats-going-on/blog/basic-necessities-proper-pet-care-->
    </p><br>

    <i>Credits to ASPCA, PetsBest, Forbes, and Animal Foundation</i>
</div>