<h2 style="text-align: center;">Home</h2>
<p style="padding: 30px;">
    <b>Welcome to our Adoption Center!</b><br>
    In here, you will be able to adopt any pets available in our center.
    We can also help you in find your prefered dog and cat. 
    If you wonder if you are taking care of your pet properly, we also give a set of instructions in how to properly take care of a cat and dog. 
    You can also give a pet away for adoption in our center. 
    You can easily find our contact information in our site. 
</p>